In [1]:
import pandas as pd

In [2]:
dota_heroes = pd.read_csv('dota_hero_stats.csv')
dota_heroes.head()

,Unnamed: 0,attack_type,id,legs,localized_name,name,primary_attr,roles
0,0,Melee,1,2,Anti-Mage,npc_dota_hero_antimage,agi,"['Carry', 'Escape', 'Nuker']"
1,1,Melee,2,2,Axe,npc_dota_hero_axe,str,"['Initiator', 'Durable', 'Disabler', 'Jungler']"
2,2,Ranged,3,4,Bane,npc_dota_hero_bane,int,"['Support', 'Disabler', 'Nuker', 'Durable']"
3,3,Melee,4,2,Bloodseeker,npc_dota_hero_bloodseeker,agi,"['Carry', 'Disabler', 'Jungler', 'Nuker', 'Ini..."
4,4,Ranged,5,2,Crystal Maiden,npc_dota_hero_crystal_maiden,int,"['Support', 'Disabler', 'Nuker', 'Jungler']"

In [3]:
dota_heroes_correct = dota_heroes.drop(dota_heroes.columns[0], axis=1)
dota_heroes_correct.head()

,attack_type,id,legs,localized_name,name,primary_attr,roles
0,Melee,1,2,Anti-Mage,npc_dota_hero_antimage,agi,"['Carry', 'Escape', 'Nuker']"
1,Melee,2,2,Axe,npc_dota_hero_axe,str,"['Initiator', 'Durable', 'Disabler', 'Jungler']"
2,Ranged,3,4,Bane,npc_dota_hero_bane,int,"['Support', 'Disabler', 'Nuker', 'Durable']"
3,Melee,4,2,Bloodseeker,npc_dota_hero_bloodseeker,agi,"['Carry', 'Disabler', 'Jungler', 'Nuker', 'Ini..."
4,Ranged,5,2,Crystal Maiden,npc_dota_hero_crystal_maiden,int,"['Support', 'Disabler', 'Nuker', 'Jungler']"

In [9]:
dota_heroes_correct.groupby(['attack_type', 'primary_attr']).describe()

                            id                                           \
                         count       mean        std   min    25%   50%
attack_type primary_attr
Melee       agi           19.0  63.315789  38.874517   1.0  36.50  67.0
            int            2.0  69.500000  20.506097  55.0  62.25  69.5
            str           35.0  64.771429  35.110821   2.0  33.50  71.0
Ranged      agi           18.0  47.777778  33.119313   6.0  16.25  46.5
            int           40.0  57.275000  33.055499   3.0  30.75  52.5
            str            3.0  86.666667  25.774665  59.0  75.00  91.0

                                         legs                                \
                             75%    max count      mean       std  min  25%
attack_type primary_attr
Melee       agi            91.00  120.0  19.0  2.315789  1.796683  0.0  2.0
            int            76.75   84.0   2.0  2.000000  0.000000  2.0  2.0
            str            97.50  129.0  35.0  2.171429  0.890661  0.0  2.0
Ranged      agi            69.75  113.0  18.0  1.444444  1.149026  0.0  0.0
            int            80.75  121.0  40.0  2.250000  0.926809  0.0  2.0
            str           100.50  110.0   3.0  1.333333  1.154701  0.0  1.0


                          50%  75%  max
attack_type primary_attr
Melee       agi           2.0  2.0  8.0
            int           2.0  2.0  2.0
            str           2.0  2.0  6.0
Ranged      agi           2.0  2.0  4.0
            int           2.0  2.0  6.0
            str           2.0  2.0  2.0

In [47]:
df = pd.read_csv('http://stepik.org/media/attachments/course/4852/algae.csv')
df.head()

,species,genus,group,sucrose,alanin,citrate,glucose,oleic_acid
0,Fucus_vesiculosus,Fucus,brown,3.001472,3.711498,5.004262,2.548459,6.405165
1,Saccharina_japonica,Saccharina,brown,6.731070,1.255251,5.621499,6.013219,4.156700
2,Fucus_serratus,Fucus,brown,3.276870,0.346431,1.216767,3.623225,0.304573
3,Fucus_distichus,Fucus,brown,6.786996,6.641303,6.423606,2.272724,3.393203
4,Cladophora_fracta,Cladophora,green,3.861470,1.648450,6.940588,2.316955,2.528886

In [58]:
concentrations = df.groupby('group',as_index=True)
concentrations.agg({
    'sucrose': lambda x: max(x) - min(x),
    'group': 'count', 
    'citrate': 'var'
    })

        sucrose  group   citrate
group
brown  5.189345      6  5.468942
green  3.259662      3  3.950113
red    0.000000      1       NaN

In [20]:
mean_concentrations = concentrations.agg({
    'sucrose' : 'mean',
    'alanin' : 'mean',
    'citrate' : 'mean',
    'glucose' : 'mean',
    'oleic_acid' : 'mean'
})
mean_concentrations.head()

              sucrose    alanin   citrate   glucose  oleic_acid
genus
Ascophyllum  6.825467  0.875429  5.253527  3.414961    2.432526
Cladophora   4.008792  3.997055  5.288311  2.800276    2.263472
Fucus        4.355112  3.566411  4.214878  2.814803    3.367647
Palmaria     0.704580  3.176440  5.573905  3.242090    2.245538
Saccharina   4.183596  3.524207  3.346710  4.980594    4.487252